extend main

block content
    div(class="jumbotron text-center")
        h1
            | Welcome to our online deals store
        p
            | Some random description
    img.col-lg-offset-2.col-lg-8(src="http://www.tribalhealth.org/wp-content/uploads/All_Porgai_Products_18x12.jpg")