extend main

block content
    br
    br
    br
    div(class="panel panel-danger col-lg-offset-2 col-lg-8")
        div(class="panel-heading")
            h3(class="panel-title text-center")
                | Edit Profile
        div(class="panel-body")
            form(class="form-horizontal", method="post", action="/users/profile/edit", name="profileForm")
                fieldset
                    div(class="form-group")
                        label(for="email" class="col-lg-4 control-label")
                            | Email
                        div(class="col-lg-8")
                            input(type="email" class="form-control" name="email" id="email" required="required" placeholder=data.email)
                    div(class="form-group")
                        label(for="firstName" class="col-lg-4 control-label")
                            | First Name
                        div(class="col-lg-8")
                            input(type="text" class="form-control" name="firstName" id="firstName" value=data.firstName || '' placeholder="First Name(min length: 2; max length: 25)" minlength=2 maxlength=25)
                    div(class="form-group")
                        label(for="lastName" class="col-lg-4 control-label")
                            | Last Name
                        div(class="col-lg-8")
                            input(type="text" class="form-control" name="lastName" id="lastName" value=data.lastName || '' placeholder=data.lastName || "Last Name(min length: 2; max length: 25)" minlength=2 maxlength=25)
                    div(class="form-group")
                        button(type="submit" class="btn btn-danger col-lg-offset-4 col-lg-8")
                            | Submit

block bottomBodyContent
