extend main

block content
    if(!statistics)
        h1.text-center.text-danger
            | There are no Ads posted at the moment.
            | Statistics cannot be displayed.
    else
        .col-lg-offset-4.col-lg-4
            h1
                | Statistics (Ads per Category)
            table.table.table-striped.table-hover
                thead
                    tr
                        th Category
                        th Count
                tbody
                    each val,stat in statistics
                        tr
                            td=stat
                            td=val